@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome-page-container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  background-color: #333;
  width: 100%;
  height: 96vh;
}
.logo{
  width: 50px;
}
.search-icon{
  width: 20px;
  margin-left: -67px;
  padding-left: 0;
  z-index: 100;
  margin-right: 10px;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px black;
}
ul{
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
ul a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
ul a:active{
  color: red;
}
ul a:hover{
  background-color: red;
  color: whitesmoke;
  padding: 10px;
  transition: 0.8s;
}
.active{
  background-color: red;
  padding: 10px;
  color: whitesmoke;
}

.Search-btn{
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid grey;
}
.Search-btn-overlay{
  background-color: red;
  border: 0.5px solid grey;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 50px;
  margin-left: -74px;
  border-left: none;
}
.about-info{
  display: flex;
  justify-items: flex-end;
  align-items: center;
  padding-left: 100px;
  width: 100%;
  height: 90vh;
}
.about{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.welcome{
  color: red;
  line-height: 40px;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}
.profile-picture{
  border-radius: 50%;
  margin: 20px 150px;
}
.title{
  font-size: 2.5rem;
  color: blanchedalmond;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about h2{
  color: white;
  font-size: 3.0rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.name{
  font-style: italic;
  color: #1de9b6;
}
.info{
  line-height: 35px;
  font-size: 25px;
  text-align: justify;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
.contact-btn{
  padding: 15px 60px;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background-color: #1de9b6;
  box-shadow: 2px 2px 5px aliceblue;
  cursor: pointer;
  color: whitesmoke;
}
a{
  text-decoration: none;
}

