*{
    font-family: calibri;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.logo{
    width: 40px;
  }
  .search-icon{
    width: 20px;
    margin-left: -67px;
    padding-left: 0;
    z-index: 100;
    margin-right: 10px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px black;
  }
  ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  ul a:active{
    color: red;
  }
  ul a:hover{
    background-color: red;
    color: whitesmoke;
    padding: 10px;
    transition: 0.8s;
  }
  .active{
    background-color: red;
    padding: 10px;
    color: whitesmoke;
  }
  
  .Search-btn{
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid grey;
  }
  .Search-btn-overlay{
    background-color: red;
    border: 0.5px solid grey;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 50px;
    margin-left: -74px;
    border-left: none;
  }

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    background-size: cover;
}  

.content{
    margin-top: 40px;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.contact .content p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.icon {
    height: 5px;
    width: 5px;
}

img{
    height: 20px;
    width: 20px;
}


.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
 
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #cf0c67;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 5%;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contactForm .inputBox span{
    position: absolute;
    left:0;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox text:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #cf0c67;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #cf0c67;
    color: #fff;
    border: 40%;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/*Footer*/

.social-links img{
    width: 20px;
    height: 20px;
}
.containerr{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

.containerr ul{
    list-style: none;
}

.footer{
    background-color: #111111;
    padding: 70px 0;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #cf0c67;
    left: 0;
    box-sizing: border-box;
    bottom: -10px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 10px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
    padding: 10px;
}

.footer-col ul li a:hover{
    color: #cf0c67;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:#fff;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;

}

.footer-col .social-links a:hover{
    color: #cf0c67;
    background-color:rgba(255,255,255,0.2);
}

@media(max-width:950px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
/*End of Footer*/


@media (max-width:950px) {
    .contact{
        padding: 50px;
    }

    .container{
        flex-direction: column ;
    }
    
    .container .contactInfo{
        margin-bottom: 40px;
    }

    .container .contactInfo, .contactForm{
        width: 100%;
    }
}